
{% extends "index.html" %}

{% block content %}

<script>
var score = (window.localStorage.score) ? JSON.parse(window.localStorage.score) || 0: 0;
</script>
{% if is_correct %}
<script>
score++;
window.localStorage.score = JSON.stringify(score);
</script>
{% endif %}
<script>
document.write('<h2>Score: ' + score + '</h2>');
</script>

    <p id="question">{{question.question}}</p>
    {% if is_correct %}
       <p class="answer correct"><strong>{{question.answer}}</strong> is correct!</p>
    {% else %}
        <p>You chose <strong>{{given}}</strong>.</p>
        <p class="answer wrong">The correct answer is <strong>{{question.answer}}</strong>!</p>
    {% endif %}
    <p><a class="btn" href="/">Next question!</a></p>
{% endblock %}

